body
{
	margin:0;
	background-color: white;
}


#navBar
{
	width: 10%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #FF3A37;
	padding-top: 20px;
	color:white;
}

a
{
	text-decoration: none;
}


#navBar>a>p
{
  padding-top: 40%;
  padding-left: 10%;
  
  color: white;
  font-size: 1.5vw;
  display: block;
  font-family: arial;

}

#navBar>a>img
{
	width:80%;
	height: 5vh;
	margin: 10%;
}


#one>img
{

	padding-left:10%;
	width:90%;
	height:100vh;
}

#two
{
	font-family: verdana;
	padding-left:13%;
	padding-top:3%;
	width:90%;
	height:100vh;

}



